<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Thymeleaf Form Example</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

	<h2>Thymeleaf Form Example</h2>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<table class="table align-middle mb-0 bg-white">
					<thead class="bg-light">
						<tr>
							<th>Employee ID</th>
							<th>Name</th>



							<th>Position</th>
							<th>Phone Number</th>
							<th>Salary</th>
							<th>Manager</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${employees}">
							<td th:text="${employee?.employeeId}"></td>
							<td>
								<div class="d-flex align-items-center">

									<div class="ms-3">
										<div class="d-flex">
											<p class="fw-bold mb-1 pe-1" th:text="${employee?.firstName}"></p>
											<p class="fw-bold mb-1" th:text="${employee?.lastName}"></p>
										</div>

										<p class="text-muted mb-0" th:text="${employee?.email}"></p>
									</div>
								</div>
							</td>
							<td>
								<p class="fw-normal mb-1" th:text="${employee.job?.jobTitle}"></p>
								<p class="text-muted mb-0" th:text="${employee.department?.departmentName}"></p>
							</td>
							<td>
								<p class="fw-normal mb-1" th:text="${employee?.phoneNumber}"></p>

							</td>
							<td>
								<p class="fw-normal mb-1" th:text="${employee?.salary}"></p>

							</td>
							<td>
								<div class="d-flex align-items-center">

									<div class="ms-3">
										<div class="d-flex">
											<p class="fw-bold mb-1 pe-1" th:text="${employee?.manager?.firstName}"></p>
											<p class="fw-bold mb-1" th:text="${employee.manager?.lastName}"></p>
										</div>

										<p class="text-muted mb-0" th:text="${employee?.manager?.email}"></p>
									</div>
								</div>
							</td>
							
							
							<td>
								<button type="button" class="btn btn-primary btn-sm btn-rounded">
									Edit
								</button>
								<button type="button" class="btn btn-danger btn-sm btn-rounded">
									Delete
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


</body>

</html>